.promo {
    min-height: 100vh;
    position: relative;
    background: url('../../img/main_bg.jpg') no-repeat 50%/cover;
    &__title {
        color: #FFFFE0;
        width: 537px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    &__subtitle {
        color: #FFFFE0;
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle; 
    }
    &__btns {
        width: 350px;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }   
    }

    .hamburger {
        position: absolute;
        top: 20px;
        right: 30px;
        height: 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background: white;
        }
        span.long {
            width: 38px
        }
    }

    section {
        padding-top: 150px;
    }

    .sidepanel {
        position: fixed;
        top: 230px;
        left: 50px;
        height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__link {
            img {
                &:hover {
                    transition: .5s;
                    transform: scale(1.7);
                    svg path {
                        fill: $main-color
                    }
                }
            }
        }
        &__divider {
            width: 2px;
            height: 70px;
            background-color: white;
        }
        &__text {
            height: 150px;
            width: 25px;
            span {
                display: block;
                width: 150px;
                transform: rotate(-90deg) translate(-35%,-260%);
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: white
            }
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s;
        &.active {
            left: 0;
            visibility: visible;
            opacity: 1;
        }
        &__block {
            position: relative;
            z-index: 10;
            width: 305px;
            height: 100%;
            background: #4169E1;
            padding-top: 180px;
            padding-left: 40px;
        }
        &__close {
            position: absolute;
            right: 25px;
            top: 25px;
            cursor: pointer;
        }
        &__list {
            list-style-type: none;
            padding-left: 35px;
        }
        &__link {
            position: relative;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            padding-bottom: 15px;
            &:before {
                content: '';
                position: absolute;
                left: -35px;
                top: 10px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                border: 1px solid #000000;
                transition: all 0.7s;
            }
            &:hover {
                &:before {
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: .7;
        }
    }

}


